/* =============
    Footer
============= */
footer {
    background-color: $green;
    display: grid;
    grid-template-areas: ". footer .";
    grid-template-columns: 20% auto 10%;
}

#footer-content {
    color: $white;
    grid-area: footer;
}

// <!-- Specific Typoography" -->
#logo {
    font-family: 'Roboto', sans-serif;
    font-size: rem-calc(16);
    font-weight: 400;
    line-height: 23px;
    text-align: justify;

    @include md {
        font-size: rem-calc(18);
    }
}

#date {
    font-family: 'Noto Serif', serif;
    font-size: rem-calc(12);
    font-weight: 400;
    line-height: 23px;
    text-align: right;

    @include md {
        font-size: rem-calc(12);
    }
}