/* =============
    Section-1
============= */
#section-1 {
    background-image: url('../img/section-1/hero.jpg');
    background-position: -10px 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    margin-top: 70px;

    @include md {
        background-position: center;
        height: 50vh;
        margin-top: 90px;
    }

    @include lg {
        height: 100vh;
        margin-top: 105px;
    }

    @include xl {
        height: 100vh;
        margin-top: 105px;
    }
}