/* =============
    Section-4
============= */
#section-4 {
    display: grid;
    grid-template-areas: ". section-4 .";
    grid-template-columns: 0 auto 0;

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    ul {
        display: grid;
        gap: 20px;
        grid-area: section-4;
        grid-template-areas: "g1"
            "g2"
            "g3";
        grid-template-rows: repeat(3, 290px);

        @include md {
            grid-template-areas: "g1 g1"
                "g1 g1"
                "g2 g3";
            grid-template-rows: repeat(3, 340px);
        }

        @include lg {
            gap: 18px;
            grid-template-areas: "g1 g2"
                "g1 g3";
            grid-template-columns: 60% auto;
            grid-template-rows: repeat(2, 350px);
        }

        li {
            background-position: center;
            background-size: cover;

            img {
                width: 100%;
            }
        }

        #g1 {
            background-image: url('../img/section-4/gallery-1.jpg');
            background-position: 0 -230px;

            @include md {
                background-position: 0 -300px;
                grid-area: g1;
            }

            @include lg {
                background-position: 0 -300px;
            }
        }

        #g2 {
            background-image: url('../img/section-4/gallery-2.jpg');

            @include md {
                background-position: -25px 0;
                grid-area: g2;
            }

            @include lg {
                background-position: center;
            }
        }

        #g3 {
            background-image: url('../img/section-4/gallery-3.jpg');

            @include md {
                background-position: -80px 0;
                grid-area: g3;
            }

            @include lg {
                background-position: center;
            }
        }
    }
}