/* =============
    Section-2
============= */
#section-2{

    aside{
        img{
            width: 100%;
        }
    }
   
    #section-2-container{
    
        display: grid; 
        grid-template-columns: 10px auto 10px;
        grid-template-areas: ". section-2 .";
        
    #section-2-content{
        grid-area: section-2;
        padding-top: 60px;
        padding-bottom: 60px;
        }
    }
}
