/* =============
    Section-2
============= */
#section-2 {


    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-2-container ."
        }

    #section-2-container {

        @include md {
            display: grid;
            grid-template-columns: 40% auto;
            grid-template-areas: "aside section-2-section";
            gap: 20px;
            }
            
        @include lg{
            grid-template-columns: 50% 50%;
            }

        @include xl{ 
            grid-area: section-2-container;
            }    

        aside {
            // @include md {
            //     grid-area: aside;
            // }

            // img {
            //     width: 100%;
            // }
            background-image: url('../img/section-2/hero-2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 55vh;
            
            @include md{
                background-position: -5px 0;
                height: 40vh;

            @include lg{
                background-position: center;
                height: 70vh;
            }

            @include xl{
                background-position: center;
                height: 90vh;
            }

            }
            
            
        }


        #section-2-content {
            color: $gray;
            
            h3{
                margin-bottom: 20px;
            }

            display: grid;
            grid-template-columns: 10px auto 10px;
            grid-template-areas: ". section-2-content-text .";

            @include md{
                grid-area: section-2-section;
            }

            @include lg {
                grid-template-columns: auto 50% auto;
            }
            

            #section-2-content-text {
                grid-area: section-2-content-text;
            }
        }

    }
}