/* =============
    Section-5
============= */
#section-5 {
    @include xl {
        display: grid;
        grid-template-areas: ". section-3-desktop .";
        grid-template-columns: auto 1200px auto;
    }

    #section-5-desktop {
        @include lg {
            display: grid;
            grid-template-columns: 30% 70%;
        }

        @include xl {
            grid-area: section-3-desktop;
        }

        #section-5-img {
            background-image: url('../img/section-5/circle.jpg');
            background-position: center;
            border-radius: 100%;
            height: 300px;
            margin: 0 auto;
            width: 300px;

            @include md {
                height: 318px;
                width: 318px;
            }
        }

        #section-5-container {
            color: $gray;
            display: grid;
            grid-template-areas: ". section-5 .";
            grid-template-columns: 10px auto 10px;
            margin: 20px 0px;

            @include md {
                grid-template-columns: 20% auto 20%;
            }

            #section-5-content {
                grid-area: section-5;

                @include lg {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}