/* =============
    Section-5
============= */
#section-5{
    img{
        width: 100%
    }

    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". section-5 .";

#section-5-container{
    grid-area: section-5;
    
    #section-5-content-image{
        @include md{
            display: grid;
            grid-template-columns: 20% auto 20%;
            grid-template-areas: ". section-5-content-image .";
        }
    }
    
    #section-5-image{
        @include md{
            grid-area: section-5-content-image;
        }
    }

    #section-5-content-words{
        @include md{
            display: grid;
            grid-template-columns: 15% auto 15%;
            grid-template-areas: ". section-5-content-words ."
        }
    }

    #section-5-words{
        @include md{
            grid-area: section-5-content-words;
        }
    }   
}
}